page-profile {
    .card{
        box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.3);
        //https://www.hiclipart.com/free-transparent-background-png-clipart-yilcm/download
        background-color:#0e1516; 
      }
      .card-down{
        background-color: #0e1516;
      
      }
      .card-web-site{
        background-color: #fe601a;
      
      }
      .text-card {
  color: #ffffff;
  }
  .card-header{
    color: #16a085;
  }
}
