page-liste-server-films {
    .card{
        background-color: #0e1516;
    }
    
    .card2{
        background-color: rgba(207, 219, 211, 0);
    }
    
    
    
    .text-card {
        color: rgb(255, 255, 255);
      }
      .h-color-text{
        color: rgb(250, 25, 25);  
      }
    
      /*--------------------------------*/
      p {
        font-size: 1.8rem;
      }
    
      .app-icon-container {
        padding-top: 44px;
        padding-bottom: 44px;
    
      }
    
      .app-icon-zoom {
        zoom: 4.0;
      }
    
      .sign-in-button-container {
        padding-top: 40px;
      }
    
      .validator-error {
        color: color($colors, danger);
        padding-top: 8px;
        padding-left: 16px;
      }
    
      .fab-container {
        position: relative;
      }
    
      .listcolor{
        background-color: #141f20 ; 
    }
    .text-input {
      color: rgb(255, 255, 255);
    }

}
