page-liste-server-films {
  ion-content {
    background-color: #141f20  !important;
    font-family:'Raleway';
}

.listcolor{
    background-color: #141f20 ; 
}
.fontcolor{
   color:#16a085
   ////  color:rgb(250, 32, 3);
}
.color_refresh{
    background-color: #16a085;
    
    ////  color:rgb(250, 32, 3);
 }
 .font_refresh_color{
    color:#141f20 
 }
}
